*{
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input{
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}

form input:focus{
    outline: white;
}

form label{
    font-size: 25px;
}

form select{
    border: 1px solid white;
    outline: none;
}

form button{
    padding: 5px;
}

.employees-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.employee{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.hired{
    color:red;
}

.not-hired{
    color: green;
}

.add-text{
    text-align: center;
}

.add-text:hover{
    text-decoration: underline;
    cursor: pointer;
}

#bigger-checkbox{
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}
