*{
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label{
    font-size: 25px;
}

form select{
    border: 1px solid white;
    outline: none;
}

form button{
    padding: 5px;
}

.form-child{
    margin-bottom: 5px;
}

